body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #3B528D;
    overflow-x: hidden;

}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 112px;
  overflow-x: hidden;
}

header{
    background-color: #93a7e0;
    display: flex;
    color: #d6dff5;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav a{
    color: #3B3893;
    text-decoration: none;
    margin-left: 20px;
    transition: color 0.3s ease;
}

nav a:hover{
    color: #26314d;
}

footer {
  background-color: #93a7e0;
  color: #d6dff5;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

footer .esquerda,
footer .direita {
  flex: 1 1 300px;
  min-width: 250px;
}

footer p {
  margin: 10px 0;
}

p {
  color: #d6dff5;
  font-size: 20px;
  text-align: center;
  margin: 20px auto;
  max-width: 800px;
  padding: 0 20px;
}


h2{
    margin: 20px;
    padding-left: 200px;
    padding-right: 200px;
    color: #d6dff5;
    margin: px;
}

.titulo{
    text-align: center;
    color: white;
}

.logo-img {
    width: 100px;
    height: auto;
}



/* parte do carrossel */

.carousel-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 30px auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.carousel-slide {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: fit-content; /* impede que ele estoure o tamanho */
}

.carousel-slide img {
  width: 100%;
  max-width: 100%px;
  height: auto;
  flex-shrink: 0; /* garante que só uma aparece por vez */
  object-fit: cover;
}

.prev1, .next1, .prev2, .next2, .prev3, .next3, .prev4, .next4, .prev5, .next5, .prev6, .next6, .prev7, .next7 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.5);
  color: white;
  padding: 10px;
  cursor: pointer;
  border: none;
  font-size: 18px;
  border-radius: 50%;
}

.prev1, .prev2, .prev3, .prev4, .prev5, .prev6, .prev7 {
  left: 10px;
}

.next1, .next2, .next3, .next4, .next5, .next6, .next7 {
  right: 10px;
}

/*media*/

@media screen and (max-width: 768px) {
  .carousel-slide img {
    max-width: 100%;
    height: auto;
  }

  p {
    padding: 10px 20px;
    font-size: 16px;
  }

  .carousel-container {
    max-width: 100%;
  }
}